<div class="container-fluid header header-new"> <!--TO DO fixer les fleches -->
    <div class="container d-flex flex-column align-items-center"> 
        <div class="row px-5">
            <h5><%= link_to ' ', square_path(@square.previous), class: "fas fa-angle-left text-white" %></h5>
            <div class="pl-5 pr-5"><h5><%= @plant.name %></h5></div>
            <h5><%= link_to ' ', square_path(@square.next), class: "fas fa-angle-right text-white" %></h5>
        </div>
        <div class="header-icon"> 
          <% if File.file? "#{Rails.root}/app/assets/images/#{@plant.image}.jpg" %>
            <%= image_tag "#{@plant.image}.jpg", class: "header-icon-image" %>
          <% elsif File.file? "#{Rails.root}/app/assets/images/#{@plant.image}.png" %>
            <%= image_tag "#{@plant.image}.png", class: "header-icon-image" %>
          <% end %>
        </div>
    </div>  
</div>

<div class="container mt-4 pt-5">
  

  <div class="progress mx-auto" data-value="<%=@progression.round(0)%>">
    <span class="progress-left">
      <span class="progress-bar border-primary"></span>
    </span>
    <span class="progress-right">
      <span class="progress-bar border-primary"></span>
    </span>
    <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
    <%  %> <!--Icon graine/plante/fruit-->
      <div class="text-center">
        <p></i> Planté le : </p>
        <p><%=@square.planting_date %></p> <!--TO DO : formater la date dd.mm.yy-->
        <!--TO DO : Récole approximative-->
      </div>
    </div>
  </div>

  <div class="d-flex flex-column mt-4">
    <%= simple_form_for (@square) do |f| %>
      <%= f.input :notes, label: false, input_html: {placeholder:"Prenez des notes sur votre plantation"} %>
      <%= f.submit "Valider", class: "btn btn-primary btn-block col-6" %>
    <% end %>
  </div>


  <%= link_to garden_path(square_id: @square.id) do %>
    <div class="d-flex justify-content-center fixed-bottom mb-2 bg-white">
      <button class="btn btn-primary px-3"> <i class="fas fa-home mr-2"></i>Retour à mon jardin</button><br/>
    </div>
  <% end %>


</div> <!--container mt-4 pt-5 BODY-->





