<h1><%= @plant.name %></h1>

<p><%= link_to 'flèche de droite vers square suivant', square_path(@square.next) %></p>
<p><%= link_to 'flèche de droite vers square précèdent', square_path(@square.previous) %></p>

<p>progression du cycle de récolte (front: cycle menstruel) : </p>
<p>planté le : <%=@square.planting_date %></p>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class=" col-sm-6">
            <div class="progress green">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">90%</div>
            </div>
        </div>
        <div class=" col-sm-6">
            <div class="progress light">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">75%</div>
            </div>
        </div>
    </div>
</div>

<p>progression <%=@progression.round(2) %>%</p>

<p>--------------------facultatif ------------------</p>

<h1>Ma To Do List</h1>

<p> liste des tasks</p>
