<h1><%= @plant.name %></h1>

<p><%= link_to 'flèche de droite vers square suivant', square_path(@square.next) %></p>
<p><%= link_to 'flèche de droite vers square précèdent', square_path(@square.previous) %></p>

<p>progression du cycle de récolte (front: cycle menstruel) : </p>
<p>planté le : <%=@square.planting_date %></p>

<div class="progress mx-auto" data-value="<%=@progression.round(0)%>">
  <span class="progress-left">
    <span class="progress-bar border-primary"></span>
  </span>
  <span class="progress-right">
    <span class="progress-bar border-primary"></span>
  </span>
  <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
    <div class="h2 font-weight-bold"><p><%=@progression.round(0)%>%</p><sup class="small"></sup></div>
  </div>
</div>

<p>--------------------facultatif ------------------</p>

<h1>Ma To Do List</h1>

<p> liste des tasks</p>
