<div class="container-fluid header header-index px-0 pt-3">
   <div class="d-flex flex-row align-items-center">

      <div class="header-icon col-4 ml-3 px-0"> 
         <%= image_tag ('illus-tool-2.svg'), class:"header-icon-image" %>
      </div>

      <div class="mr-4">
         <h5>Choisissez une plante</h5>
      </div>
   </div>
</div>


<div class="container container-background px-4 pt-5">
    <form action= "<%= garden_plants_path %>" method = "get">
      <div class="search-form-control form-group">
         <input type="hidden" name="square_id" id="square_id" value="<%= params[:square_id] %>" />
         <input class="form-control string required" type="text" name="query" id="query" value="<%= params[:query] %>"/>
         <button type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i> Search
         </button>
      </div>
    </form>

 <%# <p>Liste des plantes par ordre alphabétique</p> %>

   <% @plants.each do |plant|  %>
      <div class="card my-2">
         <div class="row g-0 align-items-center border-bottom-1"> 
            <div class="col-4 pr-0"> 
              <% if File.file? "#{Rails.root}/app/assets/images/#{plant.image}.jpg" %>
                  <%= image_tag("#{plant.image}.jpg", :class => "img-fluid rounded-start card-img" ) %>
              <% elsif File.file? "#{Rails.root}/app/assets/images/#{plant.image}.png" %>
                  <%= image_tag("#{plant.image}.png", :class => "img-fluid rounded-start card-img" ) %>
               <% end %>
            </div> <!-- class = col- 3 : plant.img -->

            <div class="col-8 pl-0"> 
               <div class="card-body">
                  <h6 class="card-title"><%= plant.name %></h6>                 
                  <%= link_to square_path(id: params[:square_id], plant_id: plant.id, planting_date: Date.current), method: 'patch' do %>
                     <button class="btn btn-danger btn-sm"> <i class="fas fa-plus"></i> Ajouter à mon potager </button>
                  <% end %> <!-- link_to -->
               </div> <!-- class = card-body-->
            </div> <!-- class = col- 9 : btn-->
         </div> <!--class="row"-->

         <div class="border-top border-4 d-flex align-items-center justify-content-center"> 
            <p class="my-1 text-primary fw-bold"> Quelques associations conseillées : </p>
         </div>

         <div class="d-flex flex-row justify-content-center"> 
            <% @all_plants.each do |plant_2| %>
               <!-- TO DO : "association maline" si associations != empty --> 
               <% plant.associations[0..2].each do |association| %>
                     <% if plant_2.name == association%>
                        <%= link_to(square_path(id: params[:square_id], plant_id: plant_2.id, planting_date: Date.current), method: 'patch', class:"d-flex flex-column justify-content-end align-items-center" ) do %>
                           <div class="col-7 d-flex flex-column px-0"> 
                              <% if File.file? "#{Rails.root}/app/assets/images/#{plant_2.image}.jpg" %>
                                 <%= image_tag("#{plant_2.image}.jpg", :class => "img-fluid rounded-start card-img" ) %>
                              <% elsif File.file? "#{Rails.root}/app/assets/images/#{plant_2.image}.png" %>
                                 <%= image_tag("#{plant_2.image}.png", :class => "img-fluid rounded-start card-img" ) %>
                              <% end %> <!-- IF : img -->
                           </div>
                              <p class="badge bg-warning rounded-pill text-dark px-3 "> <%= plant_2.name %> </p>
                        <% end %> <!-- link_to-->
                     <% end %> <!-- IF -->
               <% end %> <!-- plants.asociation -->
            <% end %> <!-- plants.each -->
         </div>
            
      </div> <!--class="card"-->
   <% end %>
</div>
