<div class="container-fluid header header-new">
    <div class="container d-flex flex-column align-items-center"> 
        <div class="row px-5 mb-2">
          <h5>Vos jardins</h5>
        </div>
        <div class="header-icon"> 
          <%= image_tag ('illus-tool-1.svg'), class:"header-icon-image" %>
        </div>
    </div>  
</div>

<div class="container mt-4 pt-5"> 

  <div class="col-12"> 

      <% @gardens.each do |garden| %>
        <div class="card my-3">

          <div class="card-header"> 
            <h6> <%= garden.name  %> </h6> 
              <span class="badge bg-primary rounded-pill text-white px-3"> m X m </span> <!--TO DO : garden.width x garden.lenght in metres-->
          </div>

          <ul class="list-group list-group-flush">
              <li class="list-group-item"> 
                <span> Humidité: <%= garden.weather["data"]["timelines"][0]["intervals"][0]["values"]["humidity"]%> %</span>
                <p> <i class="fas fa-thermometer-quarter"></i> <%= garden.weather["data"]["timelines"][0]["intervals"][0]["values"]["temperature"]%> °C</p>
                <p> <i class="fas fa-cloud-rain"></i> <%= garden.weather["data"]["timelines"][0]["intervals"][0]["values"]["precipitationProbability"]%> %</p>
                <% weather_rain_type = garden.weather["data"]["timelines"][0]["intervals"][0]["values"]["precipitationType"]%>
                <% if weather_rain_type == 0 %>
                  <%= "The precipitation type is: N/A " %>
                <% end %>

                <% if weather_rain_type == 1 %>
                  <%= "The precipitation type is: Rain"%>
                <% end %>

                <% if weather_rain_type == 2 %>
                <%= "The precipitation type is: Snow"%>
                <% end %>

                <% if weather_rain_type == 3%>
                <%= "The precipitation type is: Freezing Rain"%>
                <% end %>

                <% if weather_rain_type == 4%>
                  <%= "The precipitation type is: Ice Pellets"%>
                <% end %>
              </li>
              <li class="list-group-item" > 
                <div> 
                  <h6> <i class="fas fa-wind mr-1"></i> Vents </h6>                
                </div> 
                <div> 
                  <p> vitesse : <%= garden.weather["data"]["timelines"][0]["intervals"][0]["values"]["windSpeed"]%> m/s</p>
                  <p> direction : <%= garden.weather["data"]["timelines"][0]["intervals"][0]["values"]["windDirection"]%>°</p>                
                </div>              
              </li>

          </ul> 

          <div class="card-body">
            <%= link_to(garden_path(garden)) do %>
              <button class="btn btn-outline-primary btn-sm"><i class="fas fa-pencil-alt"></i> Éditer </button>
            <% end %>
          </div> <!--card-body-->



        </div> <!--card-->
      <% end %> <!-- garden.each -->


  </div>

  <%= link_to(new_garden_path) do %>
    <button class="btn btn-primary"><i class="fas fa-plus"></i> Créer un nouveau jardin </button>
  <% end %>

</div> <!--Container-->

<%# <h1>température % humidité vent en km/h</h1>
<p>Ajouter API pour les températures</p> %>




