<div class="container-fluid header header-gardens px-0 pt-3">
    <div class="d-flex flex-row align-items-center"> 

        <div class="header-icon col-4 ml-3 px-0"> 
          <%= image_tag ('illus-tool-1.svg'), class:"header-icon-image" %>
        </div>

        <div class="mr-4">
          <h5>Vos potagers</h5>
        </div>

    </div>  
</div>


<div class="container container-background mt-4 pt-5"> 

  <% @gardens.each do |garden| %>
    <div class="card my-3">

      <div class="card-header"> 
        <h5 class="text-danger"> <%= garden.name  %> </h5> 
              <span class="badge bg-warning text-primary rounded-pill px-3 align-self-center"> <%= garden.width_in_cm/100.to_f%> m X <%= garden.length_in_cm/100.to_f%> m</span>
      </div>

      <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row justify-content-center"> 
              <p class="col-6"> Humidité: <%= garden.weather["data"]["timelines"][0]["intervals"][0]["values"]["humidity"]%> %</p>
              <p class="col-6"> <i class="fas fa-thermometer-quarter"></i> <%= garden.weather["data"]["timelines"][0]["intervals"][0]["values"]["temperature"]%> °C</p>         
            </div>
          </li>

          <li class="list-group-item">
            <p> <i class="fas fa-cloud-rain"></i> <%= garden.weather["data"]["timelines"][0]["intervals"][0]["values"]["precipitationProbability"]%> %</p>
            <% weather_rain_type = garden.weather["data"]["timelines"][0]["intervals"][0]["values"]["precipitationType"]%>
            <% if weather_rain_type == 0 %>
              <%= "Le jardin est ensoleillé " %><i class="fas fa-sun"></i>
            <% end %>

            <% if weather_rain_type == 1 %>
              <%= "Il pleut sur le jardin "%><i class="fas fa-cloud-rain"></i>
            <% end %>

            <% if weather_rain_type == 2 %>
            <%= "Il neige sur le jardin "%><i class="far fa-snowflake"></i>
            <% end %>

            <% if weather_rain_type == 3%>
            <%= "Il pleut une pluie verglaçante sur le jardin "%><i class="far fa-cloud-sleet"></i>
            <% end %>

            <% if weather_rain_type == 4%>
              <%= "Il grêle sur le jardin "%><i class="fad fa-cloud-hail"></i>
            <% end %>
          </li>

          
          <li class="list-group-item" > 
            <h6> <i class="fas fa-wind mr-1"></i> Vents </h6>                
            <div class="row justify-content-center"> 
              <p class="col-6"> <i class="fas fa-tachometer-alt"></i> <%= garden.weather["data"]["timelines"][0]["intervals"][0]["values"]["windSpeed"]%> m/s</p>
              <p class="col-6"> <i class="fas fa-location-arrow"></i> <%= garden.weather["data"]["timelines"][0]["intervals"][0]["values"]["windDirection"]%>°</p>                
            </div>              
          </li>

      </ul> 

      <div class="card-body d-flex justify-content-center">  
        <%= link_to(garden_path(garden)) do %>
          <button class="btn btn-outline-primary btn-sm"><i class="fas fa-pencil-alt"></i> Éditer </button>
        <% end %>
      </div> <!--card-body-->


    </div> <!--card-->
  <% end %> <!-- garden.each -->



<%= link_to(new_garden_path) do %>
  <div class="d-flex justify-content-center mb-2">
    <button class="btn btn-primary"><i class="fas fa-plus"></i> Créer un nouveau jardin </button>
  </div>
<% end %>

</div> <!--Container-->

<%# <h1>température % humidité vent en km/h</h1>
<p>Ajouter API pour les températures</p> %>




