<h1>Formule secrète et magique pour paramétrer l'espace disponible</h1>


<button id="find-me">Partager ma localisation</button><br/>
<p id="status"></p>
<a id="map-link" target="_blank"></a>

<%= simple_form_for (@garden) do |f| %>

    <%= f.input :length, label: "Mesurez la largeur de votre jardin en nombre de pieds" %>
    <%= f.input :width, label: "Mesurez la longueur de votre jardin en nombre de pieds" %>

    <%= f.hidden_field :latitude, label: "latitude" %>
    <%= f.hidden_field :longitude, label: "longitude" %>
    <%= f.input :shoe_size, collection: 30..50, label: "Quelle est votre pointure ? 🧙‍♂️" %>
    <%= f.submit "Valider", class: "btn btn-primary" %>
<% end %>
