<div class="container-fluid header">
    <div class="container d-flex flex-column align-items-center"> 
        <div class="row px-5">
        <h5>Calculez la superficie de votre espace</h5>
        </div>
        <div class="header-icon"> 
        <%= image_tag ('illus-tool-4.svg'), class:"header-icon-image" %>
        </div>
    </div>  
</div>



<div class="container mt-4 pt-5">

    


    <button id="find-me" class="btn btn-outline-primary">Partager ma localisation</button><br/>
    <p id="status"></p>
    <a id="map-link" target="_blank"></a>

    <%= simple_form_for (@garden) do |f| %>

        <p>Renseignez la largeur et la longeur de votre espace en nombre de pieds </p>

        <%# range %>
        <div class="form-group">
            <strong> <label for="formControlRange">Longueur en pieds</label> </strong>
            <div class="d-flex"> 
                <div class="mr-3"> 1 </div>
                <div class="mr-1 flex-fill"> <%= f.input :length, label: false, input_html: { min:1, max:50, class:"form-control-range-secondary", type:"range" }%></div>
                <div class="ml-3"> <span id="lengthValue"> </span> pieds</div>
            </div>
        </div>

        <div>
            <strong> <label for="widthInFeet" class="form-label">Largeur en pieds</label> </strong>
            <div class="d-flex "> 
                <div class="mr-3"> 1 </div>
                <div class="mr-1 flex-fill"> <%= f.input :width, label: false, class:"form-range", input_html: { min:1, max:50, class:" form-control-range", type:"range" } %></div>
                <div class="ml-3"> <span id="widthValue"> </span> pieds</div>
            </div>
        </div>

        <%= f.hidden_field :latitude, label: "latitude" %>
        <%= f.hidden_field :longitude, label: "longitude" %>
        <%= f.input :shoe_size, collection: 16..48, input_html: {class:'btn btn-outline-secondary dropdown dropdown-toggle' } %>
        <%= f.submit "Valider", class: "btn btn-primary" %>
    <% end %>

 </div>


