<div class="container-fluid header header-new outer px-0 pt-3">
    <div class="d-flex flex-row align-items-center"> 

        <div class="header-icon col-4 ml-3 px-0"> 
            <%= image_tag ('illus-tool-4.svg'), class:"header-icon-image" %>
        </div> 

        <div class="ml-1 mr-4">
        <h4 class="">Votre espace</h4>
        </div>

    </div> 
</div>



<div class="container-background px-4 pt-5">
    
    <div class ="d-flex flex-column mb-2 align-items-center"> 
        <button id="find-me" class="btn btn-outline-primary col-9 text-dark btn-sm"> <i class="fas fa-map-marker-alt mr-2"></i>Partager ma localisation</button>
        <p id="status" ></p>
        <a id="map-link" target="_blank"></a>    
    </div>


    <%= simple_form_for (@garden) do |f| %>
        
        <div class="form-group mb-1">
            <strong class=""> <label for="">Donnez un nom à votre jardin<sup class="ml-1 text-primary">*</sup></label> </strong>
            <div class="d-flex"> 
              <div class="mr-1 flex-fill"> <%= f.input :name, label: false, input_html: { class:"form-control px-3", placeholder:"Exemple : Potager de la maison"} %></div>
            </div>
        </div>

        <p>Renseignez la largeur et la longeur de votre espace en nombre de pieds </p>

        <!--range-->
        <div class="form-group">
            <strong> <label for="formControlRange">Longueur<sup class=" ml-1 text-primary">*</sup> </label> </strong>
            <div class="d-flex"> 
                <div class="mr-3"> 1 </div>
                <div class="mr-1 flex-fill"> <%= f.input :length, label: false, input_html: { min:1, max:30, class:"custom-range border-0 range-field", type:"range", step: 1}%></div>
                <div class="ml-3"> <span id="lengthValue" class="font-weight-bold text-primary"> </span> <i class="fas fa-shoe-prints text-primary"></i></div>
            </div>
        </div>

        <div class="form-group">
            <strong> <label for="widthInFeet" class="form-label">Largeur<sup class="ml-1 text-primary">*</sup></label> </strong>
            <div class="d-flex "> 
                <div class="mr-3"> 1 </div>
                <div class="mr-1 flex-fill"> <%= f.input :width, label: false, input_html: { min:1, max:30, class:"custom-range border-0 range-field", type:"range", step: 1} %></div>
                <div class="ml-3"> <span id="widthValue" class="font-weight-bold text-primary"> </span> <i class="fas fa-shoe-prints text-primary"></i></div>
            </div>
        </div>

        <%= f.hidden_field :latitude, label: "latitude" %>
        <%= f.hidden_field :longitude, label: "longitude" %>

        <div class="form-group mb-4">
            <strong> <label for="formControlRange">Quelle est votre pointure ?<sup class="ml-1 text-primary">*</sup></label> </strong>
            <div class="d-flex"> 
                <div class="mr-3"> 33</div>
                <div class="mr-1 flex-fill"> <%= f.input :shoe_size, label: false, input_html: { min:33, max:48, class:"custom-range border-0 range-field", type:"range", step: 1}%></div>
                <div class="ml-3"> <span id="shoeSizeValue" class="font-weight-bold text-primary"> </span> <i class="fas fa-shoe-prints text-primary"></i> </div>
            </div>
        </div>
        
        <div class="d-flex justify-content-center form-group mb-3"> 
            <%= f.submit "Valider", class: "btn btn-danger btn-block col-6 font-weight-bold " %>
        </div>
    <% end %>

 </div>


