<h1>Commencez par dessiner votre espace disponible...</h1>


<%= simple_form_for(@garden) do |f| %>
    <%= f.input :lenght, label: "la longueur de votre jardin" %>
    <%= f.input :width, label: "la largeur de votre jardin" %>
    <%= f.input :address, label: "L'adresse du jardin" %>
    <%= f.input :shoe_size, label: "Votre pointure" %>
    <%= f.submit "Valider", class: "btn btn-primary" %>
<% end %>


<h2>longueur</h2>

<h2>Largeur</h2>


<h1>... puis mesurez la largeur et la longueur en pieds</h1>

<h2>votre pointure</h2>

<h2>Boutton : Partagez votre géolocalisation</h2>

<h2>Boutton : Valider</h2>

