<h1>Commencez par dessiner votre espace disponible...</h1>

<button id="find-me">Partager ma localisation</button><br/>
<p id="status"></p>
<a id="map-link" target="_blank"></a>

<%= simple_form_for (@garden) do |f| %>
    <%= f.input :lenght, label: "la longueur de votre jardin" %>
    <%= f.input :width, label: "la largeur de votre jardin" %>
    <%= f.hidden_field :latitude, label: "latitude" %>
    <%= f.hidden_field :longitude, label: "longitude" %>
    <%= f.input :shoe_size, collection: 30..50, label: "Votre pointure" %>
    <%= f.submit "Valider", class: "btn btn-primary" %>
<% end %>
