<div class="container-fluid header header-show">
    <div class="container d-flex flex-column align-items-center"> 
        <div class="row px-4 mb-1">
        <h5> <%=@garden.name%></h5>
        </div>

        <div class="header-icon"> 
        <%= image_tag ('illus-tool-3.svg'), class:"header-icon-image" %>
        </div> <!-- header-icon-->
    </div>  
</div>


<div class="container mt-4 pt-5">

  <% @squares.each do |square|  %>
    <%= square.plant.name %>
    <% if File.file? "#{Rails.root}/app/assets/images/#{square.plant.image}.jpg" %>
      <%= image_tag ("#{square.plant.image}.jpg") %>
    <% elsif File.file? "#{Rails.root}/app/assets/images/#{square.plant.image}.png" %>
      <%= image_tag ("#{square.plant.image}.png") %>
    <% end %>
    <p>button pour supprimer lien vers Square new</p>
    <%= link_to "X", garden_plants_path(@garden.id) %>
  <% end %>

  <p> cuadritos largeur : <%=@garden.width_in_squares  %></p>
  <p> cuadritos longueur : <%=@garden.length_in_squares  %></p>

  <div class="container overflow-auto d-flex flex-column">
    <% @garden.width_in_squares.times do %> 

      <div class="d-flex flex-rows"> 
        <%@garden.length_in_squares.times do%>
          <div class="square mx-1 my-1"> 
            x
          </div>
        <% end %>
      </div> <!-- @end d-flex flx-rows-->


    <% end %>


  </div> <!-- @end container body-->





  <%# Lien pour éditer %>
</div>

<%# <h1>température % humidité vent en km/h</h1>
<p>Ajouter API pour les températures</p> %>

<p> Humidity : <%= @weather["data"]["timelines"][0]["intervals"][0]["values"]["humidity"]%> %</p>
<p> Temperature : <%= @weather["data"]["timelines"][0]["intervals"][0]["values"]["temperature"]%> °C</p>
<p> The precipitation probability is : <%= @weather["data"]["timelines"][0]["intervals"][0]["values"]["precipitationProbability"]%> %</p>

<p> The Wind speed : <%= @weather["data"]["timelines"][0]["intervals"][0]["values"]["windSpeed"]%> m/s</p>
<p> The Wind direction : <%= @weather["data"]["timelines"][0]["intervals"][0]["values"]["windDirection"]%> degrees</p>

<% if @weather_rain_type == 0 %>
  <%= "The precipitation type is: N/A " %>
<% end %>

<% if @weather_rain_type == 1 %>
  <%= "The precipitation type is: Rain"%>
<% end %>

<% if @weather_rain_type == 2 %>
 <%= "The precipitation type is: Snow"%>
<% end %>

<% if @weather_rain_type == 3%>
 <%= "The precipitation type is: Freezing Rain"%>
<% end %>

<% if @weather_rain_type == 4%>
  <%= "The precipitation type is: Ice Pellets"%>
<% end %>