<div class="container-fluid header header-show">
    <div class="container d-flex flex-column align-items-center"> 
        <div class="row px-4 mb-1">
        <h5> <%= @garden.name %></h5>
        </div>

        <div class="header-icon"> 
          <%= image_tag ('illus-tool-3.svg'), class:"header-icon-image" %>
        </div> <!-- header-icon-->
    </div>  
</div>


<div class="container mt-4 pt-5">

  <div class="overflow-auto garden"> 

    <div class="d-flex flex-column"> 
      <% @squares.each_with_index do |square, index| %>
        <% i = index + 1 %>

        <% if i == 1 %> 
          <div class="d-flex flex-row"> <!--OPEN FISRT ROW-->
        <% end %>

        <div class="square mx-1 my-1"> 
          <div class=""> <!--TO DO : class square-content-->
            <%= i %>
            <%= link_to "+", garden_plants_path(@garden.id, square_id: square.id) %>
          </div>
        </div> <!--class : square-->
        
        <% if i % @garden.width_in_squares == 0 %>
          </div> <!--CLOSE FISRT ROW-->
          <div class="d-flex flex-row"> <!--OPEN NEXT ROW-->
        <% end %>

        <% if  i == @squares.size %>
          </div> <!--CLOSE NEXT ROW-->
        <% end %>

      <% end %> <!--@sqaures.each_with_index-->
    </div>

  </div> <!-- class : garden -->






  



  <%= link_to "Valider", new_garden_path(@garden.id) %>

  <p> carrés largeur : <%=@garden.width_in_squares  %></p>
  <p> carrés longueur : <%=@garden.length_in_squares  %></p>


  <%# Aller sur TOUS les gardens %>
  <%= link_to "Valider vers Index Garden", gardens_path  %> 

  <%# Lien pour éditer --> garden new %>

</div> <!-- @end container body-->



————————————————————————
